<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Pigeon</title>

    <meta name="description" content="Compre produtos com as melhores promoções no Free Pigeon.">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon/favicon.png' %}" type="image/x-icon">
</head>

<body>
    <div id="app">
        {% include 'partials/header.html' %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% include 'partials/footer.html' %}
    </div>

    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>